@import url("/fonts/css/general-sans.css");
@import url("/fonts/css/newsreader.css");

/* Fonts */
:root {
  --font-primary: "Newsreader", Georgia, serif;
  --font-secondary: "GeneralSans", Arial, Helvetica, sans-serif;
}

/* Colours */
:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-grey-dark: #4d4d4d;
  --c-grey-midtone: #999999;
  --c-grey-light: #e6e6e6;

  --colour-main-bg: var(--c-white);
  --colour-text-dark-primary: var(--c-black);
  --colour-text-dark-secondary: var(--c-grey-dark);
  --colour-text-light: var(--c-white);
  --colour-text-placeholder: var(--c-grey-midtone);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--colour-text-dark-primary);
  background-color: var(--colour-main-bg);
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
  margin-inline: auto;
}
